.scroll-info {
  border: 1px solid red;
  position: fixed;
  top: 0;
  right: 10px;
  padding: 4px;
}
.text-container {
  width: 500px;
  padding: 4px;
  outline: 1px solid green;
}

.scroll-fake {
  margin: 8px;
  padding: 4px;
  width: 120vw;
  outline: 1px solid green;
}
.scroll-button {
  margin: 16px;
  padding: 4px;
  cursor: pointer;
}
