input {
  display: block;
  min-width: 200px;
}

label span {
  padding-left: 2px;
  color: red;
  font-size: 14px;
}

.input-editor {
  &-label { min-width: 140px; }
  &-error { border-color: red!important; }
  &-disabled { background-color: #f1f3f5!important; }
  &-description { 
    color: #868e96;
    font-size: 12px;
    margin-top: -20px;
  }
}
.input-editor[data-with-icon = 'true'] {
  padding-left: 1.37rem!important;
}
.input-editor[data-with-icon = 'false'] {
  padding-right: 1.25rem!important;
}
.input-editor-wrap {
  position: relative;
  box-sizing: border-box;
  .icon { 
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 2.5px;
    bottom: 0;
    color: #adb5bd;
  }
  .border-radius-xs { border-radius: 0.125rem; }
  .border-radius-sm { border-radius: 0.25rem; }
  .border-radius-md { border-radius: 0.5rem; }
  .border-radius-lg { border-radius: 1rem; }
  .border-radius-xl { border-radius: 2rem; }
  
  .size-xs { height: 10px;}
  .size-sm { height: 12px }
  .size-md { height: 15px; }
  .size-lg { height: 17px;}
  .size-xl { height: 19px; }
  .variant {
    &-default {
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
     }
     &-filled { background-color: #f1f3f5; }
     &-unstyled {
      border: none;
      outline: none;
      background-color: #fff;
      padding: 0;
      margin: 0;
     }
  }
}
